# The examples from the powerpoint

Just so you can run them, maybe alter and tinker a little with them. These are the first examples using apples and oranges.

First we install pandas. Issuing commands in a code block with an exclamation mark in front will run them in the current virtual environment.

In [ ]:
!pip install pandas

Next we can import it an start using pandas...

In [ ]:
import pandas as pd
import numpy as np

Next we create a dataframe as a sum of two series.

In [ ]:
data = np.array([3, 2, 0, 1])
apples = pd.Series(data)

data = np.array([0, 3, 7, 2])
oranges = pd.Series(data)


df = pd.DataFrame({'apples': apples, 'oranges': oranges})

print(apples, oranges, df, sep="\n")

Or create the same dataframe by converting a dictionary.

In [ ]:
data = { 
'apples': [3, 2, 0, 1], 
'oranges': [0, 3, 7, 2] 
}

purchases = pd.DataFrame(data)

purchases

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David']) 
purchases

In [ ]:
# to reset to numerical index
#purchases = purchases.reset_index()
purchases = purchases.reset_index(drop=True)
purchases

In [ ]:
# first reindex again with name labels
purchases.index = ['June', 'Robert', 'Lily', 'David']
purchases

The next code blocks just extract data from the dataframe.

In [ ]:
lily_purchases = purchases.loc[ 'Lily' ] 
lily_purchases
lily_and_david_purchases = purchases.loc[ ['Lily', 'David'] ] 
lily_and_david_purchases

In [ ]:
index_2_purchases = purchases.iloc[2] 
index_2_purchases

In [ ]:
index_2_3_purch = purchases.iloc[[2,3]] 
index_2_3_purch

In [ ]:
index_0_2_3_purch = purchases.iloc[[0,2,3]] 
index_0_2_3_purch

In [ ]:
purchases[0:4]

In [ ]:
purchases[-1::-1]

In [ ]:
purchases[1:2]

In [ ]:
purchases[::+2]

In [ ]:
purchases[-1:]

In [ ]:
purchases['June':'David']

In [ ]:
purchases['Robert':'Lily']

In [ ]:
apples = purchases['apples']
# apples = purchases.apples
apples

In [ ]:
type(apples)

In [ ]:
oranges = purchases[['oranges']]
oranges

In [ ]:
type(oranges)

In [ ]:
purchases['bananas']=3
purchases

In [ ]:
purchases['bananas']=[2,0,5,7]
purchases

In [ ]:
purchases['lemons'] = range(1,len(purchases)+1,+1)
purchases

Final code blocks to read data from csv, json or sqlite files

In [ ]:
df = pd.read_csv('files/purchases.csv')
df

In [ ]:
df = pd.read_csv('files/purchases.csv', index_col=0)
df

In [ ]:
df = pd.read_json('files/purchases.json')
df

In [ ]:
import sqlite3

con = sqlite3.connect("files/purchases.db")
df = pd.read_sql_query("SELECT c.name, p.quantity, p.fruit FROM customers c join purchases p on c.customerID = p.customerID", con)
df

Content in a dataframe can be written into different file formats like csv, json, ...

In [ ]:
df = pd.read_json('files/purchases.json')

df.to_csv('new_purchases.csv') 
df.to_json('new_purchases.json')
# df.to_excel('new_purchases.xlsx')  -> requires openpyxl. Works, but needs to be installed using !pip install openpyxl
df.to_html('new_purchases.html')
con.execute("DROP TABLE IF EXISTS new_purchases;")
df.to_sql('new_purchases', con)